/*Sidebar Menu*/
.sidenav {
    color: white;
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0C5683;
    overflow-x: hidden;
    padding-top: 20px;
}

/*Sidebar Menu Links*/
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/*Hierachy Tree*/
.node circle {
    fill: black;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.title {
    text-align: center;
}

svg {
    margin-left: auto;
}
