<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>S.A.M</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<!--Navigation Bar-->
		<nav>
			<div class="logo">
				<h4>S.A.M: Google STEP Capstone 2020</h4>
			</div>
			<ul class="nav-links">
				<li><a href="research.html">Mission</a></li>
				<li><a href="research.html">Research</a></li>
				<li><a href="research.html">The Team</a></li>
			</ul>
		</nav>

		<!--Web Title-->
		<div class="center-title">
			<h1 class="title-txt">S.A.M</h1>
			<h6 class="acrym-txt">Smarter Access Management</h6>
			<h8 class="motto-txt">Offering you better access and peace of mind.</h8>
		</div>

		<!--Tool Cards-->
		<div class="container">
			<div class="box">
				<div class="box-row">
					<div class="box-cell card">
						<a href="hierachyTree.html">
						<div class="card-body">
							<h5 class="card-title">Company Hierarchy Tree</h5>
                            <img src="/static/images/tree.png" class="tree-img" alt="Hierarchy Tree">
							<p class="card-text">Visualize Company Hierarchy tree and determine employee and resource usage similarity.</p>
						</div>
						</a>
					</div>
					<div class="box-cell card">
						<a href="provisionMetrics.html">
						<div class="card-body">
							<h5 class="card-title">Provisioning Metrics</h5>
							<img src="/static/images/pie.png" class="pie-img" alt="Pie Chart">
                            <p class="card-text">Get insights on precision and recall of provisioning a resource to your team.</p>
						</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
