<!DOCTYPE html> 
<head> 
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='metricStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='darkMode.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head> 
<body> 
    <!-- Side Navigation --> 
    <div class="sidenav">
	    <h1>Provisioning Metrics</h1>
        <!--Dark Mode toggle button --> 
        <em>Enable Dark Mode!</em>
            <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                    <input type="checkbox" id="checkbox" />
                    <div class="slider round"></div>
                </label>
        </div><br><br>
        <!--User Input -->
	    <form>
            <label for="resource_1">Enter Resource:</label><br>
            <input type="text" id="resource_id_1" name="id_1"><br>
            <input type="text" id="resource_id_2" name="id_2"><br><br>
            <button type="button" id="btnsearchPath" style="font-size: 18px;">Calculate</button> 	    
	    </form>
        <h4>Provisioning Calulcations:</h4>
        <h4>Recall Calculations:</h4> 

        <a href="index.html">Go Back</a> 
    </div> 
    
    <!-- Pie Charts --> 
    <canvas id="provision-chart" width="900" height="300"></canvas>
    <canvas id="recall-chart" width="900" height="300"></canvas>
   
    <! --pie-script.js file-->
    <script src="{{url_for('static', filename='pieScript.js')}}"></script>    
    <!--Dark Mode -->
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.6/lib/darkmode-js.min.js"></script>
    <script src="{{url_for('static', filename='darkMode.js')}}"></script>
</body> 

</html>
