<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Research</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://use.fontawesome.com/c5c79fb4fe.js"></script>
	    <link rel="stylesheet" href="{{ url_for('static', filename='team.css') }}">
    </head>
	<body>
        <!-- Team -->
        <section id="team" class="pb-5">
                <div class="container">
                    <h5 class="section-title h1">OUR TEAM</h5>
                    <div class="row">
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" >
                            <div class="mainflip flip-0">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class="img-fluid" src="/static/images/dean.png" alt="card image"></p>
                                            <h4 class="card-title">Dean Alvarez</h4>
                                            <p class="card-text">Second year Computer Science Major, from Cornell University</p>
                                            <a href="" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Dean Alvarez</h4>
                                            <p class="card-text">I worked with libraries such as pandas and matplotlib to analyze large amounts of data leading to the development of the logic behind S.A.M.'s provisioning metrics feature</p>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" href="https://www.linkedin.com/in/deanedwardalvarez">
                                                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" href="https://github.com/DeanAlvarez">
                                                        <i class="fa fa-github" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="/static/images/tedi.jpg" alt="card image"></p>
                                            <h4 class="card-title">Tedi Mitiku</h4>
                                            <p class="card-text">Second year Computer Science Major, from Cornell University</p>
                                            <a href="" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Tedi Mitiku</h4>
                                            <p class="card-text">I learned how to use Python libraries for data analysis and processing and worked to integrate our S.A.M's frontend and backend using Flask </p>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" href="mailto:tbm42@cornell.edu">
                                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center"  href="https://www.linkedin.com/in/tedi-mitiku">
                                                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" href="https://github.com/tedim52">
                                                        <i class="fa fa-github" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="/static/images/kayla.jpg" alt="card image"></p>
                                            <h4 class="card-title">Kayla Patterson</h4>
                                            <p class="card-text">Third year, Computer Science Major, Mathematics Minor, from Hampton University</p>
                                            <a href="" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Kayla Patterson</h4>
                                            <p class="card-text">I worked on S.A.M frontend using D3.js library to display the tree and Chart.js to display provisioning charts. Also, worked on Python scripts to analyze data.</p>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" href="mailto:klypat00@gmail.com">
                                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" href="https://www.linkedin.com/in/kayla-patterson">
                                                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" href="https://github.com/kpatterson01">
                                                        <i class="fa fa-github" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>		

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	</body>

</html>
